<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragment/layout}">

<div layout:fragment="content" class="container">
    <div class="bs-docs-section">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-header">
                    <h1 id="typography" th:text="${view.subject}">제목</h1>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="bs-component" th:text="${view.content}">
            </div>
            <div class="input-group mb-3" th:if="${view.attachFile != null}">
                <div class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="downButton" th:text="${view.attachFile.realFileName}"></div>
                <a href="./download" th:href="@{/board/user/forum/download(attachFileSn=${view.attachFile.attachFileSn},boardSn=${view.boardSn})}" class="btn btn-primary" type="button" id="downButton">다운로드</a>
            </div>
        </div>
        <div class="bs-component mb-3">
            <div class="btn-group" role="group" aria-label="Basic example">
                <a href="/board/user/forums" class="btn btn-secondary">목록</a>
                <a type="button" href="#;" th:href="@{/board/user/forum/edit/{boardSn}(boardSn=${view.boardSn})}" th:if="${#strings.equals(#authentication.name,view.memberId)}" class="btn btn-secondary">수정</a>
                <button type="button" th:if="${#strings.equals(#authentication.name,view.memberId)}" id="boardDeleteBtn" class="btn btn-secondary">삭제</button>
            </div>
        </div>
        <form name="commentForm" th:object="${comment}" th:action="@{/board/user/forum/comment/{boardSn}(boardSn=${view.boardSn})}" method="POST">
        <div class="form-group col-lg-6">
            <div class="input-group mb-3">
                <input type="text" class="form-control" th:field="*{content}" placeholder="댓글내용을 입력하세요" aria-label="Recipient's username" aria-describedby="button-addon1">
                <div class="invalid-feedback" th:each="err : ${#fields.globalErrors()}" th:text="${err}">반드시 입력하셔야하는 항목입니다.</div>
                <button class="btn btn-primary" type="submit" id="button-addon1">댓글등록</button>
            </div>
        </div>
        </form>
    </div>
    <div class="bs-docs-section">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-header">
                    <h3 id="tables">댓글</h3>
                </div>

                <div class="bs-component">
                    <table class="table table-hover">
                        <tbody>
                        <tr th:each="comment : ${commentList}" class="table-active">
                            <td th:id="${commentStat.count}" th:text="${comment.content}"></td>
                            <td th:text="${comment.memberId}"></td>
                            <td>[[${comment.registDate}]]
                                <button th:if="${#strings.equals(#authentication.name,comment.memberId)}" th:attr="data-comment-content=${commentStat.count},data-comment-sn=${comment.boardCommentSn}" class="badge bg-primary comment-edit-button">수정</button>
                                <button th:if="${#strings.equals(#authentication.name,comment.memberId)}" th:data-comment-sn="${comment.boardCommentSn}" class="badge bg-danger comment-delete-button">삭제</button>
                            </td>
                        </tr>
                            <form name="editCommentForm" id="editCommentForm" method="POST">
                            <div class="input-group mb-3" id="commentEdit" style="display:none;">
                                <input type="hidden" id="boardCommentSn" name="boardCommentSn">
                                <input type="text" class="form-control" id="editContent" name="content" placeholder="수정내용을 입력하세요" aria-label="Recipient's username" aria-describedby="button-addon2">
                                <button class="btn btn-primary" type="button" id="editContentBtn">댓글수정</button>
                            </div>
                            </form>
                        </tbody>
                    </table>
                    <div>
                        <ul class="pagination" th:if="${commentList.size > 0}">
                            <li class="page-item" th:if="${page.hasPrevious}">
                                <a class="page-link" href="#" th:href="@{/board/user/forum/{boardSn}(boardSn=${view.boardSn},page=1)}" >&laquo;</a>
                            </li>
                            <li class="page-item" th:if="${!page.first}">
                                <a class="page-link" href="#" th:href="@{/board/user/forum/{boardSn}(boardSn=${view.boardSn},page=${page.number})}">&lt;</a>
                            </li>
                            <li class="page-item" th:each="number:${#numbers.sequence(startPage,endPage)}" th:classappend="${(pageable.pageNumber+1) == number} ? 'active'">
                                <a class="page-link" href="#" th:text="${number}" th:href="@{/board/user/forum/{boardSn}(boardSn=${view.boardSn},page=${number})}">1</a>
                            </li>
                            <li class="page-item" th:if="${!page.last}">
                                <a class="page-link" href="#" th:href="@{/board/user/forum/{boardSn}(boardSn=${view.boardSn},page=${page.number + 2})}">&gt;</a>
                            </li>
                            <li class="page-item" th:if="${page.hasNext}">
                                <a class="page-link" href="#" th:href="@{/board/user/forum/{boardSn}(boardSn=${view.boardSn},page=${page.totalPages})}">&raquo;</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</html>
<script th:inline="javascript">
if([[${message}]] != null){
    alert('[[${message}]]');
}

var commentEditLayer = document.getElementById("commentEdit");
var commentEditContentField = document.getElementById("editContent");
var commentEditSnField = document.getElementById("boardCommentSn");
var commentEditForm = document.getElementById("editCommentForm");

var commentEditBtn = document.querySelectorAll('.comment-edit-button');
if(commentEditBtn != null) {
    commentEditBtn.forEach((target) => target.addEventListener("click", function(){
                commentEditLayer.style.display = "flex";
                commentEditContentField.value = document.getElementById(target.dataset.commentContent).innerText;
                commentEditSnField.value = target.dataset.commentSn;
            })
    );
}

document.getElementById("editContentBtn").addEventListener("click", () => {
    commentEditForm.action = "/board/user/forum/comment/[[${view.boardSn}]]/"+commentEditSnField.value;
    commentEditForm.submit();
});

    var deleteBoardBtn = document.getElementById("boardDeleteBtn");
    if(deleteBoardBtn != null){
        deleteBoardBtn.addEventListener("click", () => {
            if(confirm("정말 삭제하시겠습니까? ")){
                //XMLHttpRequest 객체 생성
                var xhr = new XMLHttpRequest();

                //요청을 보낼 방식, url, 비동기여부 설정
                xhr.open('DELETE', '/board/user/forum/[[${view.boardSn}]]', true);

                //요청 전송
                xhr.send();

                //Callback
                xhr.onload = () => {
                    if (xhr.status == 200) {
                        //success
                        alert(xhr.response);
                        location.href = "/board/user/forums";
                    } else {
                        alert(xhr.response);
                    }
                }
            }
        });
    }
    var commentDeleteBtn = document.querySelectorAll('.comment-delete-button');
    if(commentDeleteBtn != null){
        commentDeleteBtn.forEach((target) => target.addEventListener("click", function(){
            if(confirm("정말 삭제하시겠습니까? ")){
                //XMLHttpRequest 객체 생성
                var xhr = new XMLHttpRequest();

                //요청을 보낼 방식, url, 비동기여부 설정
                xhr.open('DELETE', '/board/user/forum/comment/[[${view.boardSn}]]/'+target.dataset.commentSn, true);

                //요청 전송
                xhr.send();

                //Callback
                xhr.onload = () => {
                    if (xhr.status == 200) {
                        //success
                        alert(xhr.response);
                        location.href = "/board/user/forum/[[${view.boardSn}]]";
                    } else {
                        alert(xhr.response);
                    }
                }
            }
        }));
	}
</script>